@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0 0 30px 0;
}

h3 {
  color: #fb3e44;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.glass {
  position: absolute;

}

header > div > form > input {
  background-color: rgba(0,0,0,.05);
}

header > div > form > label {
  background-color: rgba(0,0,0,.05);
}

.search-button {
  background-color: #fb3e44;
  color: white;
  border: none;
  width: 70px;
}

#join {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  margin-right: 20px;
}

#login {
  text-decoration: none;
  color: black;
}

#introduction {
  text-align: center;
  background-color: rgba(0,0,0,.05);
  padding-bottom: 80px;
}

h1 {
  font-size: 3.5em;
  font-style: bold;
  padding-top: 80px;
}

#introduction article {
  text-align: center; 
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  margin: auto;
  width: 400px;
}

#intro-plans {
  background-color: #fb3e44;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px 30px; 
  margin: 10px;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#intro-join {
  background-color: white;
  color: black;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  text-align: center;
  white-space: nowrap;
  width: 80px;
  height: 30px;
}

.triangle-hexagon {
    width: 150px;
    padding: 50px;
    margin: auto;
}

h2 {
  font-size: 1.5em;
  background-color: rgba(255,204,53,.4);
  font-style: italic;
  width: 60%;
  margin: auto;
  padding: 0 5px;
}

#description {
  text-align: center;
}

#description article {
  width: 650px;
  margin: auto;
  padding-top: 50px;
}

#benefits {
  display: flex;
  justify-content: space-evenly;
}

#benefits .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createOrg {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.createOrg a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 40px;
  font-size: 1em;
  width: 200px;
  margin: auto;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  display: flex;
  text-align: center;
  justify-content: center;
}